* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
 font-family: 'Poppins', sans-serif;
  background-color:whitesmoke;
  color: black;
  line-height: 1.6;
  overflow-x: hidden;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Header */
.header {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 20px 60px;
  background: rgba(245, 243, 243, 0.95);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}

.logo {
  font-size: 1.8rem;
  font-weight: 700;
  color:rgb(96, 71, 71);
  text-decoration: none;
  transition: 0.3s ease;
}

.logo:hover {
  color:deepskyblue;
}

.navbar {
  display: flex;
  gap: 30px;
}

.navbar .nav-link {
  color:cornsilk;
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 500;
  position: relative;
  transition: 0.3s ease;
}

.navbar .nav-link::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 3px;
  bottom: -5px;
  left: 0;
  background:rgb(112, 120, 118);
  transition: width 0.3s;
}

.navbar .nav-link:hover::after,
.navbar .nav-link.active::after {
  width: 100%;
}

.navbar .nav-link:hover,
.navbar .nav-link.active {
  color:rgb(32, 29, 29);
}

.hamburger {
  display: none;
  background:rebeccapurple;
  border: none;
  font-size: 2rem;
  color:aqua;
  cursor: pointer;
}

/* Sections */
section {
  padding: 50px 0;
}

.section-title {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 15px;
  color:black;
}

.section-title span {
  color: var(--secondary-color);
}

.section-description {
  text-align: center;
  color: var(--text-light);
  margin-bottom: 50px;
  font-size: 1.1rem;
}

/*  for the section 1 */
.firstsection{
  width: 100%;
  height: 750px;
  background-color:rgb(196, 194, 190);
}

/* Home Section */
.home-inner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 60px;
  min-height: 90vh;
  padding-top: 40px;
}

